<form class="flexcol {{cssClass}}" autocomplete="off">
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <h2><input type="text" value="{{item.name}}" name="name" /></h2>
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="92" width="92" style="background-color: var(--highlight-color)"/>
        <div class="section">
            <table>
                <tr>
                    <th>{{localize 'shadowrun6.contact.type'}}</th>
                    <th>{{localize 'shadowrun6.contact.rating'}}</th>
                    <th>{{localize 'shadowrun6.contact.loyalty'}}</th>
                </tr>
                <tr>
                    <td style="width:8em"> <input  class="box" type="text" value="{{item.system.type}}" name="data.type"  /></td>
                    <td class="box centered"> <input  class="box" type="number" value="{{item.system.rating}}" name="data.rating" style="width:2em" /></td>
                    <td class="box centered"> <input  class="box" type="number" value="{{item.system.loyalty}}" name="data.loyalty"
                            style="width:2em" /></td>
                </tr>
            </table>
            <h3>{{localize 'shadowrun6.item.description'}}</h3>
            <textarea class="box" type="text" name="data.description" cols="50"
                rows="8">{{item.system.description}}</textarea>
        </div>
    </section>
</form>