<form class="flexcol {{cssClass}}" autocomplete="off">
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <h2><input type="text" value="{{item.name}}" name="name" /></h2>
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="92" width="92"
            style="background-color: var(--highlight-color)" />
        <div class="section">
            <table>
                <tr>
                    <!--Typ, Subtyp, Verfügbarkeit, Preis-->
                    <th>{{localize 'shadowrun6.item.type'}}</th>
                    <th>{{localize 'shadowrun6.item.subtype'}}</th>
                    <!--th>{{localize 'shadowrun6.label.column.count'}}</th-->
                    <th>{{localize 'shadowrun6.label.column.rating'}}</th>
                    <th>{{localize 'shadowrun6.item.availability'}}</th>
                    <th>{{localize 'shadowrun6.item.price'}}</th>
                </tr>
                <tr>
                    <td>
                        <select name="data.type" data-field="data.type" class="typeselect">
                            {{#select item.system.type}}
                            {{#each config.GEAR_TYPES as |type id|}}
                            <option value="{{@type}}" name=data.type>{{localize (concat "shadowrun6.itemtype." type)}}
                            </option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </td>
                    <td><select name="data.subtype" data-field="data.subtype" class="subtypeselect">
                            {{#select item.system.subtype}}
                            <option value=""></option>
                            {{#each (gearSubtype system.type) as |subtype id|}}>
                            <option value="{{@subtype}}">{{localize (concat "shadowrun6.gear.subtype." subtype)}}
                            </option>
                            {{/each}}
                            {{/select}}
                        </select></td>
                    <!--td><input style="vertical-align: middle;" type="checkbox" {{checked item.system.countable}}
                            name="data.countable" /></td-->
                    <td><input style="vertical-align: middle;" type="checkbox" {{checked item.system.needsRating}}
                            name="data.needsRating" /></td>
                    <td><input type="text" value="{{item.system.availDef}}" name="data.availDef" class="box centered"
                            style="width: 2em" /></td>
                    <td><input type="text" value="{{item.system.priceDef}}" name="data.priceDef" class="box centered"
                            style="width: 3.4em" /></td>
                </tr>
            </table>
            <!-- ********** WAFFEN ********** -->
            {{#if (or
            (eq item.system.type "WEAPON_FIREARMS")
            (eq item.system.type "WEAPON_RANGED")
            (eq item.system.type "WEAPON_CLOSE_COMBAT")
            (eq item.system.type "WEAPON_SPECIAL"))}}
            <table>
                <tr>
                    <!--SCHADEN MODUS ANGRIFFSWERTE MUNITION-->
                    <th colspan="2">{{localize 'shadowrun6.item.damage'}}</th>
                    <th colspan="4">{{localize 'shadowrun6.item.mode'}}</th>
                    <th colspan="5">{{localize 'shadowrun6.item.attackvalues'}}</th>
                    <!-- <th>{{localize 'shadowrun6.item.ammunition'}}</th> -->
                </tr>
 {{log "shadowrun6-gear-sheet.html this=" item.system}}
                <tr>
                    <td style="width: 2.5em"><input type="number" value="{{item.system.dmg}}" name="data.dmg" class="box centered" /></td>
                    <td>
                        <select name="data.stun">
                            {{#select item.system.stun}}
                            <option value="false">{{localize 'shadowrun6.item.physical_damage'}}</option>
                            <option value="true">{{localize 'shadowrun6.item.stun_damage'}}</option>
                            {{/select}}
                        </select>
                    </td>
					<td style="width: 4em"><span style="vertical-align: middle;">{{localize 'shadowrun6.item.mode_ss'}}</span><input
                            style="vertical-align: middle;" type="checkbox" {{checked item.system.modes.SS}}
                            name="data.modes.SS" " />
                    </td>
                    <td style="width: 4em"><span style="vertical-align: middle;">{{localize 'shadowrun6.item.mode_sa'}}</span><input
                            style="vertical-align: middle;" type="checkbox" {{checked item.system.modes.SA}}
                            name="data.modes.SA" />
                    </td>
                    <td style="width: 4em"><span style="vertical-align: middle;">{{localize 'shadowrun6.item.mode_bf'}}</span><input
                            style="vertical-align: middle;" type="checkbox" {{checked item.system.modes.BF}}
                            name="data.modes.BF" />
                    </td>
                    <td style="width: 4em"><span style="vertical-align: middle;">{{localize 'shadowrun6.item.mode_fa'}}</span><input
                            style="vertical-align: middle;" type="checkbox" {{checked item.system.modes.FA}}
                            name="data.modes.FA" />
                    </td>


                    {{#each item.system.attackRating as |arating id|}}
                    <td data-array="data.attackRating">
                        <input type="number" value="{{arating}}" data-array-field data-index="{{id}}" style="width:1.6em"
                            class="centered box" />
                    </td>
                    {{/each}}
                </tr>
            </table>
            <table>
                <tr>
                    <th>{{localize 'shadowrun6.item.skill'}}</th>
                    <th>{{localize 'shadowrun6.item.skillspec'}}</th>
                </tr>
                <tr>
                    <td>
                        <select name="data.skill" data-field="data.skill">
                        <option value="">-</option>
                            {{#select item.system.skill}}
                            {{#each config.SKILLS_WEAPON as |skill id|}}
                            <option value="{{@skill}}">{{localize (concat "skill." skill)}} </option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </td>
                    <td>
        	   			<select name="data.skillSpec" data-field="data.skillSpec">
        	   			{{#if item.system.skill}}
                     {{selectOptions (lookup config.skill_special item.system.skill) selected=system.skillSpec localize=true}}
                     {{/if}}
         				</select>
                    </td>
                </tr>
            </table>
            {{/if}}
            <!-- ********** Rüstung ********** -->
            {{#if (eq item.system.type "ARMOR")}}
            <table>
                <tr>
                    <th>{{localize 'shadowrun6.item.defencerating'}}</th>
                    <th>{{localize 'shadowrun6.item.capacity'}}</th>
                    <th>{{localize 'shadowrun6.item.social'}}</th>
                    <th>{{localize 'shadowrun6.item.natural'}}</th>
                </tr>
                <tr>
                    <td><input type="number" value="{{item.system.defense}}" name="data.defense"
                            class="box centered" />
                    </td>
                    <td><input type="number" value="{{item.system.capacity}}" name="data.capacity"
                            class="box centered" /></td>
                    <td><input type="number" value="{{item.system.social}}" name="data.social"
                            class="box centered" />
                    </td>
                    <td><input style="vertical-align: middle;" type="checkbox" {{checked item.system.natural}}
                            name="data.natural" /></td>
                </tr>
            </table>
            {{/if}}
            <!-- ********** BIOWARE / NANOWARE ********** -->
            {{#if (or
            (eq item.system.type "BIOWARE")
            (eq item.system.type "NANOWARE")
            )}}
            <label for="ware_essence">{{localize 'shadowrun6.item.essence'}}</label>
            <input type="number" value="{{item.system.essence}}" name="data.essence" id="ware_essence"
                class="box centered" />
            {{/if}}
            <!-- ********** CYBERWARE ********** -->
            {{#if (eq item.system.type "CYBERWARE")}}
            <table>
                <tr>
                    <th>{{localize 'shadowrun6.item.essence'}}</th>
                    <th>{{localize 'shadowrun6.item.capacity'}}</th>
                </tr>
                <tr>
                    <td> <input type="number" value="{{item.system.essence}}" name="data.essence" id="ware_essence"
                            class="box centered" /></td>
                    <td> <input type="number" value="{{item.system.capacity}}" name="data.capacity" id="ware_cap"
                            class="box centered" /></td>
                </tr>
            </table>
            {{/if}}
            <!-- ********** COMLINK ********** -->
            {{#if (or
                (eq item.system.subtype "COMMLINK")
                (eq item.system.subtype "RIGGER_CONSOLE")
                (eq item.system.subtype "CYBERJACK")
            )}}
            <table>
                <tr>
                    <th>{{localize 'shadowrun6.label.devRating'}}</th>
                    <th>{{localize 'shadowrun6.label.progSlots'}}</th>
                    <th>{{localize 'shadowrun6.label.dataproc.short'}}</th>
                    <th>{{localize 'shadowrun6.label.firewall.short'}}</th>
                </tr>
                <tr>
                    <td class="box centered"> <input type="number" value="{{item.system.devRating}}"
                            name="data.devRating" class="box centered" style="width:2em" /></td>
                    <td class="box centered"> <input type="number" value="{{item.system.progSlots}}"
                            name="data.progSlots" class="box centered" style="width:2em" /></td>
                    <td class="box centered"> <input type="number" value="{{item.system.d}}" name="data.d"
                            class="box centered" style="width:2em" /></td>
                    <td class="box centered"> <input type="number" value="{{item.system.f}}" name="data.f"
                            class="box centered" style="width:2em" /></td>
                </tr>
            </table>
            {{/if}}
            <!-- ********** CYBERDECK ********** -->
            {{#if (eq item.system.subtype "CYBERDECK")}}
            <table>
                <tr>
                    <th>{{localize 'shadowrun6.label.devRating'}}</th>
                    <th>{{localize 'shadowrun6.label.progSlots'}}</th>
                    <th>{{localize 'shadowrun6.label.attack.short'}}</th>
                    <th>{{localize 'shadowrun6.label.sleaze.short'}}</th>
                </tr>
                <tr>
                    <td class="box centered"> <input type="number" value="{{item.system.devRating}}"
                            name="data.devRating" class="box centered" style="width:2em" /></td>
                    <td class="box centered"> <input type="number" value="{{item.system.progSlots}}"
                            name="data.progSlots" class="box centered" style="width:2em" /></td>
                    <td class="box centered"> <input type="number" value="{{item.system.a}}" name="data.a"
                            class="box centered" style="width:2em" /></td>
                    <td class="box centered"> <input type="number" value="{{item.system.s}}" name="data.s"
                            class="box centered" style="width:2em" /></td>
                </tr>
            </table>
            {{/if}}
            <!-- ********** VEHICLES / DRONES ********** -->
            {{#if (or
            (eq item.system.type "VEHICLES")
            (eq item.system.type "DRONES")
            )}}
            <table>
                <tr>
                    <th colspan="2">{{ localize 'shadowrun6.section.vehicles.column.handling' }}</th>
                    <th>{{ localize 'shadowrun6.section.vehicles.column.acc' }}</th>
                    <th>{{ localize 'shadowrun6.section.vehicles.column.spdi' }}</th>
                    <th>{{ localize 'shadowrun6.section.vehicles.column.tspd' }}</th>
                    <th colspan="2">{{ localize 'shadowrun6.section.vehicles.column.vtype' }}</th>
                </tr>
                <tr>
                    <td class="box centered" colspan="2"> <input type="number" value="{{item.system.handlOn}}"
                            name="data.handlOn" class="box centered" style="width:2em" /> / <input type="number"
                            value="{{item.system.handlOff}}" name="data.handlOff" class="box centered"
                            style="width:2em" /></td>
                    <td class="box centered"> <input type="number" value="{{item.system.accOn}}" name="data.accOn"
                            class="box centered" style="width:2em" /> / <input type="number" value="{{item.system.accOff}}" name="data.accOff"
                            class="box centered" style="width:2em" /> </td>
                    <td class="box centered"> <input type="number" value="{{item.system.spdiOn}}" name="data.spdiOn"
                            class="box centered" style="width:2em" /> / <input type="number" value="{{item.system.spdiOff}}" name="data.spdiOff"
                            class="box centered" style="width:2em" /></td>
                    <td class="box centered"> <input type="number" value="{{item.system.tspd}}" name="data.tspd"
                            class="box centered" style="width:2em" /></td>
                    <td colspan="2"> <select name="data.vtype" data-field="data.vtype" class="typeselect">
                            {{selectOptions config.VEHICLE_TYPE selected=item.system.vtype localize=true}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>{{ localize 'shadowrun6.section.vehicles.column.bod' }}</th>
                    <th>{{ localize 'shadowrun6.section.vehicles.column.arm' }}</th>
                    <th>{{ localize 'shadowrun6.section.vehicles.column.pil' }}</th>
                    <th>{{ localize 'shadowrun6.section.vehicles.column.sen' }}</th>
                    {{#if (eq item.system.type "VEHICLES")}}
                    <th>{{ localize 'shadowrun6.section.vehicles.column.sea' }}</th>
                    {{/if}}
                </tr>
                <tr>
                    <td class="box centered"> <input type="number" value="{{item.system.bod}}" name="data.bod"
                            class="box centered" style="width:2em" /></td>
                    <td class="box centered"> <input type="number" value="{{item.system.arm}}" name="data.arm"
                            class="box centered" style="width:2em" /></td>
                    <td class="box centered"> <input type="number" value="{{item.system.pil}}" name="data.pil"
                            class="box centered" style="width:2em" /></td>
                    <td class="box centered"> <input type="number" value="{{item.system.sen}}" name="data.sen"
                            class="box centered" style="width:2em" /></td>
                    {{#if (eq item.system.type "VEHICLES")}}
                    <td class="box centered"> <input type="number" value="{{item.system.sea}}" name="data.sea"
                            class="box centered" style="width:2em" /></td>
                    {{/if}}

                </tr>
            </table>
            {{/if}}
            <h3>{{localize 'shadowrun6.item.accessories'}}</h3>
            <textarea class="box" type="text" name="data.accessories" cols="60"
                rows="4">{{item.system.accessories}}</textarea>
            <!-- ********** Beschreibung ********** -->
            <h3>{{localize 'shadowrun6.item.description'}}</h3>
            <textarea class="box" type="text" name="data.description" cols="60"
                rows="6">{{item.system.description}}</textarea>
        </div>
    </section>
</form>