<div class="section" style="display: inline-block; width: 48%; margin: 5px;">
 <div class="section-head">
	<h2 class="section-title">{{title}}</h2>
		<a class="item-control {{geartype}}-create" title="{{localize 'shadowrun6.section.gear.add' }}"><h2 class="fas fa-plus"></h2></a>
</div>
<table>
	    <thead>
	      <tr>
	        <th></th>
	        <th>{{ localize 'shadowrun6.label.column.name' }}</th>
	        <th>{{ localize 'shadowrun6.label.column.rating' }}</th>
	        <th>{{ localize 'shadowrun6.label.column.count' }}</th>
	        <th>{{ localize 'shadowrun6.label.column.action' }}</th>
	      </tr>
	    </thead>
		{{#each actor.items as |item id|}}
		{{#iff item.type '==' 'gear'}}
		{{#if (eq item.system.type ../geartype) }}
		<tr class="item list-item" data-item-id="{{item.id}}">
       	<td style="margin-right: 1rem; width: 0.7em;">
		   {{#if item.system.accessories }}
       	<button type="button" class="collapsible {{item.flags.shadowrun6-eden.collapse-state}}" data-item-id="{{this.id}}">+</button>
       	{{else}}
       	<button type="button" class="collapsible {{item.flags.shadowrun6-eden.collapse-state}} empty" data-item-id="{{this.id}}">+</button>
       	{{/if}}
       	</td>
			<td> <input type="text" value="{{item.name}}" data-field="name" title="{{item.system.description}}"/></td>
			<td style="width: 2em" class="centered">
			{{#if item.system.needsRating}}
			<input type="text" value="{{item.system.rating}}" data-field="data.rating" title="{{item.system.rating}}"/>
			{{else}}
			-
			{{/if}}
			</td>
			<td style="width: 2em" class="centered">
			{{#if item.system.countable}}
			<input type="text" value="{{item.system.count}}" data-field="data.count" title="{{item.system.count}}"/>
			{{else}}
			-
			{{/if}}
			</td>
			<td class="centered"><a class="item-control item-edit" title='{{localize 'shadowrun6.label.edit' }}'><i
					class="fas fa-edit"></i></a> <a class="item-control item-delete"
				title='{{localize 'shadowrun6.label.delete' }}'><i class="fas fa-trash"></i></a></td>
	   </tr>
       <tr>
         <td colspan="5">
         	<div class="collapsible-content {{item.flags.shadowrun6-eden.collapse-state}}">
        	   {{ localize 'shadowrun6.label.accessories' }} <textarea class="box" type="text"     data-item-id="{{this.id}}" data-field="accessories" type="text" data-dtype="Text" style="width: 25em">{{item.system.accessories}}</textarea>
         	</div>
         </td>
       </tr>
		{{/if}}

		{{/iff}}
		{{/each}}
</table>
</div>