	<!-- Armor -->
   <div class="section" style="width: 58%; margin: 5px;">

	 <div class="section-head">
		<h2 class="section-title">{{ localize 'shadowrun6.section.armor.title' }}</h2>
		<a class="item-control armor-create" title="{{localize 'shadowrun6.section.armor.add' }}"><h2 class="fas fa-plus"></h2></a>
	   </div>
	  <table>
	    <thead>
	      <tr>
	        <th>{{ localize 'shadowrun6.section.armor.column.name' }}</th>
	        <th></th>
	        <th>{{ localize 'shadowrun6.section.armor.column.defense' }}</th>
	        <th>{{ localize 'shadowrun6.section.armor.column.social' }}</th>
	        <th>{{ localize 'shadowrun6.section.armor.column.action' }}</th>
	      </tr>
	    </thead>
 		{{#each actor.items as |item id|}}
		{{#iff item.type '==' 'gear'}}
		{{#iff item.system.type '==' "ARMOR"}}
       <tr class="draggable item" data-item-id="{{this.id}}"  title="{{description item.system 'item'}}">
       	<td style="margin-right: 1rem"><button type="button" class="collapsible {{item.flags.shadowrun6-eden.collapse-state}}" data-item-id="{{this.id}}">+</button><label class="item-name" data-skill="{{id}}">{{item.name}}</label></td>
       	<td><label class="switch">
       	<input type="checkbox" data-item-id="{{this.id}}" data-check="data.usedForPool" {{checked item.system.usedForPool}} type="checkbox" data-dtype="Boolean"/>
                        <span class="shadowrun6-slider round"></span>
                    </label></td>
         <td class="centered"><input type="text" data-item-id="{{this.id}}" data-field="data.defense" value="{{item.system.defense}}" data-dtype="Number" style="width: 1.5em" /></td>
         <td class="centered"><input type="text" data-item-id="{{this.id}}" data-field="data.social"  value="{{item.system.social}}" data-dtype="Number" style="width: 1.5em" /></td>
			<td class="item-controls">
				<td class="centered"><a class="item-control item-edit" title='{{localize 'shadowrun6.label.edit' }}'><i
					class="fas fa-edit"></i></a> <a class="item-control item-delete"
				title='{{localize 'shadowrun6.label.delete' }}'><i class="fas fa-trash"></i></a></td>
         </td>
       </tr>
       <tr>
         <td colspan="6">
         	<div class="collapsible-content {{item.flags.shadowrun6-eden.collapse-state}}" style="vertical-align: top">
         	{{ localize 'shadowrun6.label.modifications' }} <textarea class="box" type="text"     data-item-id="{{this.id}}" data-field="data.accessories" type="text"  data-dtype="Text" rows="3" style="width: 20em">{{item.system.accessories}}</textarea></div>
         	</div>
         </td>
       </tr>
		{{/iff}}
		{{/iff}}
       {{/each}}
	</table>
	</div>
