<div class="section" style="display: inline-block; width:100%;">
 <div class="section-head">
	<h2 class="section-title">{{ localize 'shadowrun6.section.echo.title' }}</h2>
	<a class="item-control echo-create" title="{{localize 'shadowrun6.section.echo.add' }}">
		<h2 class="fas fa-plus"></h2>
	</a>
</div>
<table>
		{{#each actor.items as |item id|}}
		{{#iff item.type '==' 'echo'}}
		<tr class="item list-item" data-item-id="{{item.id}}">
			<td> <input type="text" value="{{item.name}}" data-field="name" title="{{description item.system item.type}}"/></td>
			<td> <input type="text" value="{{item.system.explain}}" data-field="data.explain" class="secondary" placeholder="Details"/></td>
			<td><a class="item-control item-edit" title='{{localize 'shadowrun6.label.edit' }}'><i
					class="fas fa-edit"></i></a> <a class="item-control item-delete"
				title='{{localize 'shadowrun6.label.delete' }}'><i class="fas fa-trash"></i></a></td>
	   </tr>
		{{/iff}}
		{{/each}}
</table>
</div>