<div class="section" style="display: inline-block; width:100%">
 <div class="section-head">
	<h2 class="section-title">{{ localize 'shadowrun6.section.contacts.title' }}</h2>
	<a class="item-control contact-create" title="{{localize 'shadowrun6.section.contacts.add' }}">
		<h2 class="fas fa-plus"></h2>
	</a>
</div>
<table>
	<thead>
		<tr>
		  <th style="text-align:left">{{ localize 'shadowrun6.label.column.name' }}</th>
		  <th>{{ localize 'shadowrun6.contact.type' }}</th>
		  <th>{{ localize 'shadowrun6.contact.rating_short' }}</th>
		  <th>{{ localize 'shadowrun6.contact.loyalty_short' }}</th>
		  <th colspan="2">{{ localize 'shadowrun6.label.column.action' }}</th>
		</tr>
	  </thead>
		{{#each actor.items as |item id|}}
		{{#iff item.type '==' 'contact'}}
		<tr class="item list-item" data-item-id="{{item.id}}">
			<td style="width: 8em"> <input type="text" value="{{item.name}}" data-field="name" title="{{item.system.description}}"/></td>
			<td class="centered" style="width: 3em"> <input type="text" value="{{item.system.type}}" data-field="system.type" class="secondary" /></td>
			<td class="centered" style="width: 1em"> <input type="text" value="{{item.system.rating}}" data-field="system.rating" class="secondary" /></td>
			<td class="centered" style="width: 1em"> <input type="text" value="{{item.system.loyalty}}" data-field="system.loyalty" class="secondary" /></td>
			<td class="centered" style="width: 2em"><a class="item-control item-edit" title='{{localize 'shadowrun6.label.edit' }}'><i
					class="fas fa-edit"></i></a> <a class="item-control item-delete"
				title='{{localize 'shadowrun6.label.delete' }}'><i class="fas fa-trash"></i></a></td>
	   </tr>
		{{/iff}}
		{{/each}}
</table>
</div>